<!-- <div class="card animated fadeIn fast" >
  <img class="card-img-top img-fluid" [src]="pokemon.img" [alt]="pokemon.nombre">
  <div class="card-body">
    <h4 class="card-title">{{ pokemon.nombre }}</h4>
    <p class="card-text"> {{ pokemon.bio }} </p>
    <p class="card-text"><small class="text-muted">{{ pokemon.aparicion }}</small></p>

    <button (click)="verHeroe()"
      type="button" class="btn btn-outline-primary btn-block">
      Ver más...
    </button>
    <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver más link...</a>

  </div>
</div> -->

