<div class="col-lg-4 col-md-3">
  <div class="header-search mt-2">
      <div class="search-form">
<form [formGroup]="miForm" >
  <div>
      <mat-form-field class="example-full-width">
        <input type="text"
               placeholder="¿Qué estás buscando?"
               type="text" name="search"
               id="search"
               matInput
               style="width: 10em; border-radius: 10px; border-color: black;"
               formControlName="termino">
                <button
                type="button"
                data-test="btn-search"
                (click)="buscando()" class="btn">
                  <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
                </button>
      </mat-form-field>

       <br>
       <br>
      <span *ngIf="nombreValido()" class="form-text text-danger">Debe ingresar el término de búsqueda</span>
  </div>
</form>
</div>
</div>
</div>
